/* for heading */
/* font-family: "Poppins", sans-serif;  
font-weight:700*/
/*  Mobile: 375px
- Desktop: 1440px
 */
:root {
    --Pink-color: rgb(255, 82, 191);
    /* button color*/
    --Light-Pink: rgb(255, 143, 216);
    --Light-Red: rgb(255, 66, 66);
    --Dark-Cyan: rgb(0, 37, 46);
    /*  heading color */
    --Pale-Blue: #f5faff;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Open Sans", sans-serif;
    /* font-weight: 400 600 700 */
    width: 87rem;
    height: 33.125rem;
    background-color: #ffff;
}

body h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
}

/* section-1 */
.start {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    display: flex;
    justify-content: space-around;
    padding: 3rem;
}

.start button {
    color: var(--Pink-color);
    border: 1px solid var(--Pink-color);
    border-radius: 1.875rem;
    padding: 0.10rem 3rem;
    font-size: 1rem;

}

/* section-2 */
.section-2 {
    text-align: center;
    margin: 5rem;
}

.section-2 h1 {
    color: var(--Dark-Cyan);
    font-size: 2.7rem;
}

.section-2-para {
    width: 36.875rem;
    margin: 2rem 20rem;
    padding: 0.625rem;
    line-height: 1.5rem;
    font-weight: 600;
    font-size: 1.10rem;
}

.section-2 button {
    color: white;
    background-color: var(--Pink-color);
    border: 1px solid var(--Pink-color);
    border-radius: 3.125rem;
    padding: 2rem 7rem;
    font-weight: 700;
    font-size: 1.20rem;
}

/* section-2-mobile */
.section-2-mobile {
    display: none;
    text-align: center;
    margin-top: 5rem;
}

.section-2-mobile h1 {
    color: var(--Dark-Cyan);
    font-size: 4rem;
}

.section-2-mobile p {
    text-align: center;
    width: 36.875rem;
    margin: 4rem auto;
    line-height: 4rem;
    font-weight: 600;
    font-size: 3rem;
}

.section-2-mobile button {
    color: white;
    background-color: var(--Pink-color);
    border: 1px solid var(--Pink-color);
    border-radius: 3.125rem;
    padding: 2rem 7rem;
    font-weight: 700;
    font-size: 3rem;
    margin: 10rem;
}


/* section-3 */
.section-3 img {
    padding-left: 12.5rem;
}

/* section-4 */
.section-4 {
    display: flex;
    justify-content: space-around;
    width: 60rem;
    margin: 5rem 15rem;
}

.section-4 div h1 {
    font-size: 6rem;
    color: var(--Dark-Cyan);
}

.section-4 div p {
    color: var(--Light-Pink);
    font-size: 1.5rem;
}

/* section-5 */
.section-5 {
    display: flex;
    flex-direction: column;
}

.section-5-1 {
    padding-top: 10rem;
}

.section-5-1 h1 {
    color: var(--Dark-Cyan);
    font-size: 2.75rem;
    margin-bottom: 1rem;
    margin-left: 4rem;
}

.section-5-1 p {
    font-weight: 600;
    font-size: 1rem;
    margin-left: 4rem;
}

.section-5-mobile {
    display: flex;
    flex-direction: column;
    display: none;
}

.section-5-1-mobile h1 {
    color: var(--Dark-Cyan);
    font-size: 4rem;
    padding-top: 10rem;
    margin-bottom: 5rem;
    margin-left: 4rem;
    text-align: center;
}

.section-5-1-mobile p {
    font-weight: 600;
    font-size: 4rem;
    margin-left: 4rem;
    text-align: center;
}

/* section-6 */
.section-6 {
    display: flex;
    justify-content: space-evenly;
    margin-top: 12rem;
}

.section-6-head {
    padding-top: 10rem;
}

.section-6-head h1 {
    color: var(--Dark-Cyan);
    font-size: 2.70rem;
}

.section-6-head p {
    font-weight: 600;
    font-size: 1rem;
}

/* section-7 */
.section-7-0 {
    display: flex;
    flex-direction: column;
    margin-top: 8rem;
}

.section-7 {
    display: flex;
    background-color: #F6FBFF;
}

.section-7-1 {
    padding-top: 10rem;

}

.section-7-1 h1 {
    color: var(--Dark-Cyan);
    font-size: 2.75rem;
    margin-bottom: 1rem;
    margin-left: 4rem;
}

.section-7-1 p {
    font-weight: 600;
    font-size: 1rem;
    margin-left: 4rem;
}

/* section-7-mobile */
.section-7-0-mobile {
    margin-top: 30rem;
    margin-bottom: 30rem;
    display: flex;
    flex-direction: column;
    display: none;
}

.section-7-mobile {
    background-color: #F6FBFF;
}

.section-7-1-mobile h1 {
    color: var(--Dark-Cyan);
    font-size: 4rem;
    padding-top: 10rem;
    margin-bottom: 5rem;
    margin-left: 4rem;
    text-align: center;
}

.section-7-1-mobile p {
    font-weight: 600;
    font-size: 4rem;
    margin-left: 4rem;
    text-align: center;

}

/* section-8 */
.section-8 {
    text-align: center;
    margin-top: 2rem;
}

.section-8 h1 {
    color: var(--Dark-Cyan);
    font-size: 2.5rem;
}

.section-8 button {
    color: white;
    background-color: var(--Pink-color);
    border: 1px solid var(--Pink-color);
    border-radius: 3.125rem;
    padding: 1.5rem 7rem;
    font-weight: 700;
    font-size: 1.20rem;
    margin-top: 2rem;
}

.footer {
    display: flex;
    flex-direction: column;
}

.footer-img {
    margin-top: 10rem;
}

.section-9 {
    height: 40rem;
    background-color: var(--Dark-Cyan);
    color: white;
    display: flex;
    justify-content: space-around;

}

.section-9-img {
    display: flex;
    color: #ffff;
    margin: 2rem;

}

.icon {
    padding: 1rem;
    margin: 2rem;
    font-size: 3rem;
}

.last-div input {
    width: 17rem;
    height: 3rem;
    border-radius: 0.75rem;
    border: none;
}

.last-div button {
    background-color: var(--Pink-color);
    border: none;
    width: 6rem;
    height: 3rem;
    color: white;
    border-radius: 0.75rem;
}

.last h1 {
    margin: 2rem;
}

.last p {
    margin-bottom: 2rem;
}

.section-9-mobile {
    display: flex;
    flex-direction: column;
    display: none;
}

.section-9-1-mobile {
    height: 170rem;
    background-color: var(--Dark-Cyan);
    color: white;
    ;
}

.section-9-2-mobile {
    text-align: center;
}

.section-9-2-mobile h1 {
    font-size: 6rem;
}

.section-9-2-mobile p {
    font-size: 4rem;
}

.mobile-placeholder input {
    margin-top: 8rem;
    width: 70rem;
    height: 8rem;
    border-radius: 0.75rem;
    border: none;
}

.section-9-2-mobile button {
    background-color: var(--Pink-color);
    border: none;
    width: 40rem;
    height: 7rem;
    color: white;
    border-radius: 2rem;
    font-size: 4rem;
    margin-top: 5rem;
    margin-left: 30rem;

}

.section-10 {
    margin-top: 10rem;
    text-align: center;
}

.section-10-1 {
    display: flex;
    justify-content: center;
}

.section-10-1 h1 {
    font-size: 5rem;
    margin-left: 3rem;

}

.phone {
    margin-top: 5rem;
    font-size: 3rem;
}

.email {
    font-size: 3rem;
}

.icon-9 {
    margin-top: 15rem;
    font-size: 9rem;
}

@media screen and (max-width:375px) {
    .start {
        padding: 10rem;
    }

    .start img {
        width: 40%;
    }

    .start button {
        font-size: 3.5rem;
    }

    .section-2 {
        display: none;
    }

    .section-2-mobile {
        display: block;
    }

    .section-4 {
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    .section-4 img {
        width: 9rem;
    }

    .section-4 div p {
        font-size: 8rem;
        padding: 4rem;
    }

    .section-5 {
        display: none;
    }

    .section-5-mobile {
        display: block;
    }

    .section-6 {
        flex-direction: column;
    }

    .section-6 img {
        width: 100%;
    }

    .section-6-head h1 {
        color: var(--Dark-Cyan);
        font-size: 4rem;
        padding-top: 10rem;
        margin-bottom: 5rem;
        margin-left: 4rem;
        text-align: center;
    }

    .section-6-head p {
        font-weight: 600;
        font-size: 4rem;
        margin-left: 4rem;
        text-align: center;
    }

    .section-7-0 {
        display: none;
    }

    .section-7-0-mobile {
        display: block;
    }

    .section-8 h1 {
        color: var(--Dark-Cyan);
        font-size: 4rem;
    }

    .section-8 button {
        font-size: 4rem;
        margin-bottom: 40rem;
    }

    .footer {
        display: none;
    }

    .section-9-mobile {
        display: block;
    }
}